@{
    ViewData["Title"] = "HuskyNZ Downloads";
    object var;
    var coname = "HuskyNZ";
    var appname = "HuskyNZ's Desktop app v2.1f";
    var conames = "HuskyNZ's";
    var token = "?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB";
}

<h1>@coname Downloads</h1>
<div>
    <a href="https://dl.husky.nz/hunzdl/App/v2.1f/autoinstall/hunzdesktopv21f.iso?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB">@appname Main Download</a>
    </div>
<div>
    <a href="https://dl.huskynz.online/hunzdl/App/v2.1f/autoinstall/hunzdesktopv21f.iso?t_-IOF5WTLZwNrxyQK9PZrr66PBLLrYBttjt8VJbyg8OBiFedhTVJkzB">@appname Alternitive Download</a>
</div>





<a href="#">@conames Install guide (Not written yet) </a>
