@using System.Reflection
@{
    ViewData["Title"] = "Home Page";

    var coname = "HuskyNZ";
}

<body>
   
    <div class="Maincontent">
        <h1>Welcome to @coname </h1>

        <p>
            @coname provides tech support to anyone.
        </p>
        <p>
           This is the main site, There is also <a href="https://huskynz.online">the @coname wiki</a>
        </p>
    </div>



</body>