@{
    ViewData["Title"] = "HuskyNZ Live";
}

<body>

    <iframe width="900" height="515" src="https://ams.huskynz.online:5443/LiveApp/play.html?name=hunz-live-0-main" frameborder="0" allowfullscreen></iframe>



</body>