@{
    ViewData["Title"] = "HuskyNZ support";
}

<style>
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-font: "Poppins", sans-serif;
  --margin-x: 1em;
  --accent-1: #6d6ae2;
  --accent-2: #563677;
  --accent-3: #6865ff;
  --black: #212733;
  --pink: #f3659a;
}

html,
body {
  font-family: var(--primary-font);
  color: var(--black);
  line-height: 1.3;
  max-width: 1250px;
  margin: 0 auto;
}
.accent-1 {
  color: var(--accent-1);
}
.accent-2 {
  color: var(--accent-2);
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: unset;
  text-decoration: unset;
}
.nav {
  margin: 0 var(--margin-x);
}
.nav__list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 1em;
}

.nav__list-item--bordered {
  border: 1px solid var(--accent-1);
  border-radius: 20px;
  color: var(--accent-1);
  padding: 0.5em 1.1em;
}
.pricing {
  text-align: center;
  margin: 0 1em;
}

.plan-duration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 200px;
}
.plan-duration__toggle {
  width: 45px;
  height: 25px;
  background: linear-gradient(130deg, var(--pink), #4e93f1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: justify-content 0.2s;
}
.plan-duration__toggle-ball {
  --size: 18px;
  margin: 0 4px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
}
.plan-duration__text {
  color: #21273399;
}

.plan-duration--active {
  color: var(--black);
  font-weight: bold;
}

.plans__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em 0;
}
.plan__item {
  --radius: 10px;
  border-radius: var(--radius);
  box-shadow: 1px 2px 15px rgba(80,80,80,0.12);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan__item--active {
  box-shadow: 0 0 55px rgba(80,80,80,0.25);
  // todo
  height: 350px;
}
.plan__title {
  color: var(--accent-1);
  margin-bottom: -0.5em;
}
.plan__price {
  font-size: 2.5em;
}
.plan__price:before {
  content: "$";
  font-size: 1rem;
}
.plan__cta-link {
  color: var(--accent-3);
  padding: 1em 5em;
  border-radius: 0 0 var(--radius) var(--radius);
}

.plan__cta-link--active {
  background: var(--accent-3);
  color: white;
}
.plan__feature-list {
  display: grid;
  grid-row-gap: 0.6em;
  justify-content: space-around;
}

.plans__special-offer a {
  color: var(--accent-2);
  text-decoration: underline;
  text-decoration-color: var(--accent-2);
  
}
.currency {
  margin: 2em var(--margin-x);
  display: grid;
  justify-content: flex-end;
  grid-gap: .5em;
  grid-auto-flow: column;
  align-items: center;
}
.currency__select {
  border-radius: 15px; 
  border: none;
  background: #eee;
  font-weight: bold;
  padding: 2px 4px;
}
</style>
<section class="pricing">
    <header class="pricing__header">
        <h1 class="pricing__title">Pricing plans</h1>
        <h5 class="pricing__subtitle">Monthly plans are available on request please email support@husky.nz</h5>
        <div class="plan-duration">
            <h1>Yearly pricing is shown in NZD</h1>
        </div>
        </div>
    </header>
    <article class="plans">
        <div class="plans__list">
            <article class="plan__item">
                <div class="plan__header">
                    <h2 class="plan__title">Standard</h2>
                    <h1 class="">Free</h1>
                </div>

                <ul class="plan__feature-list">
                    <li class="plan__feature-item">Standerd support email (Email support@husky.nz for support)</li>
                    <li class="plan__feature-item">Standerd wiki (No extented wiki access wile there are some things that are public there are not as many resources)</li> 
                </ul>

                <a class="plan__cta-link href=" javascript:void(0)" data-cb-type="checkout" data-cb-item-0="hunz-support-standard-NZD-Monthly" data-cb-item-0-quantity="1">Get Started</a>
            </article>
        <article class="plan__item plan__item--active">
            <div class="plan__header">
                <h2 class="plan__title">Extended</h2>
                <h1 class="plan__price">1,000</h1>
            </div>
            <ul class="plan__feature-list">
                    <li class="plan__feature-item">Detacatided support email (Separate email from standard support to make sure that you get better support)</li>
               
                <li class="plan__feature-item">Phone support included (You get to call HuskyNZ support team if you need urgent support That can not be solved over email)</li>
                    <li class="plan__feature-item">Extended wiki (More resources to fix issues on your own)</li>

                <li class="plan__feature-item">
                        Priortey over standerd support and Per question based priceing (Get answers faster with extented you have Priortey or the other 2 tires)
                </li>
            </ul>

            <a class="plan__cta-link href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="hunz-ext-support-NZD-Yearly" data-cb-item-0-quantity="1" data-cb-item-1="hunz-voice-support-NZD-Yearly" data-cb-item-1-quantity="1">Get Started</a>
        
            </article>
            <article class="plans">
                <div class="plans__list">
                <article class="plan__item">
                    <div class="plan__header">
                            <h2 class="plan__title">Per question based priceing</h2>
                            <h1 class="plan__price">1 base fee per year then 5 dollers per question there after</h1>
                    </div>

                    <ul class="plan__feature-list">
                            <li class="plan__feature-item">2 questions included for free </li>
                            <li class="plan__feature-item">Detacatided support email (Separate email from standard support to make sure that you get better support)</li>
                        <li class="plan__feature-item">
                                Priortey over standerd support (Get answers before you would on standard)
                        </li>
                        <li class="plan__feature-item">
                                Pay by question (After your 2 free questions are used you onley pay $5 for more)
                        </li>

                    </ul>

                        <a class="plan__cta-link href=" javascript:void(0)" data-cb-type="checkout" data-cb-item-0="hunz-support-pqp-NZD-Yearly" data-cb-item-0-quantity="1">Get Started</a>
                </article>
         
    </article>


        </div>
        <div class="plans__special-offer">
            <p><strong>Limited offer: </strong> For the first 20 pepole save 100% and get extened support free for life <a href="mailto:peter+extlanchdiscount@husky.nz?subject=hunzlanchdiscount&body=DO%20NOT%20CHANGE%20SUBJECT%0D%0A%0D%0AFill%20out%20the%20info%20below%0D%0A%0D%0AName%3A%0D%0APhone%3A%0D%0AEmail%20used%20to%20get%20standard%20sub%3A%0D%0ACompany%20name%3A%0D%0A ">Fill this out</a> (Please get the standerd support sub first so that we can upgrade your account)</p>
            <p><strong> </strong> <a href="javascript:void(0)" data-cb-type="portal">Manage account</a> Have a existing sub?</a></p>
    </article>
    </div>

    <footer>
        </div>
    </footer>
</section>